@CHARSET "UTF-8";
.navbar li{
	display: inline;
	/*font-family: "Times New Roman", Times, serif;*/
	font-size: 20px;
}

navbar-inverse .navbar-nav .active  a {
  font-color: lime;
}

.jumbotron {
	height: 800px;
	background: transparent;
	margin-top: auto;	
	padding-top: 50px;
}

.jumbotron .container {
	margin-top: 0px;
	position: relative;
	margin-bottom: 50px;
}

#impressung {
	background-color: #96d563;
	color: white;
	height: 120px;
	margin-top: auto;	
	padding-top: 50px;
}

#impressung .container {
	top: 0px;
	position: relative;
}

.thumbnail {
	margin-top: 24px;
}

tr td h4 {
	margin-top: 5px;
}

.divider {
	margin-top: 35px;
	
}

