@CHARSET "UTF-8";
.navbar {
	margin-bottom: 0px;
}

.navbar li{
	display: inline;
}

/*.jumbotron {
	background-image:
		url('http://goo.gl/nPdp0l');
	height: 70%;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: white;
	background-position: center;
}*/

.jumbotron {
	background-color: #6EBA28;
	color: white;
	height: 150px;
	margin-top: auto;	
	padding-top: 0px;
}

.jumbotron h1{
	font-size: 50px;
	padding-top: 30px;
}

.jumbotron p{
	color: black;
	text-align: center;
	padding-top: 15px;
	font-size: 25px;
	background-color: #6EBA28;
}

.jumbotron .container {
	top: 0px;
	position: relative;
}

.jumbotron .row {
	height: 150px;
}

.jumbotron div .col-md-6{
	padding-top: 10px;
	padding-bottom: 10px;
	height: 150px;
	background-color: #6EBA28;
}

.jumbotron img{
	height: 120px;
}

tr td h4 {
	margin-top: 5px;
}

.divider {
	margin-top: 35px;
}

fieldset {
	margin-top: 20px;
	text-align: center;
	position: relative;
}

fieldset button {
	margin-top: 10px;
}

.searchbar {
	width: 100%;
	position: relative;
	display: block;
}

.footer p {
	text-align: center;
	margin-top: 10px;
}

#link:hover {
	color: #54B2FF;
	font-weight: bold;
	text-decoration: none;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 1183px) {
	#jumboRow.jumbotron{
		height: 170px;
	}

	.jumbotron img{
		height: 140px;
	}

	.jumbotron p{
		padding-top: 4px;
	}
}

/*Large desktop */
@media (min-width: 1203px) {
	#jumboRow.jumbotron{
		height: 170px;
	}

	.jumbotron img{
		height: 140px;
	}

	.jumbotron p{
		padding-top: 25px;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (max-width: 1202px) {
	#jumboRow.jumbotron{
		height: 170px;
	}

	.jumbotron img{
		height: 140px;
	}

	.jumbotron p{
		padding-top: 4px;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 991px) { 
	#jumboRow.jumbotron{
		height: 300px;
	}

	.jumbotron img{
		height: 130px;
	}
	
	.jumbotron p{
		padding-top: 15px;
	}
}
 
/* Landscape phones and down */
@media (max-width: 616px) {
	#jumboRow.jumbotron{
		height: 320px;
	}

	.jumbotron img{
		height: 130px;
	}
	
	.jumbotron p{
		padding-top: 5px;
	}
}

/* Landscape phones and down */
@media (max-width: 470px) {
	#jumboRow.jumbotron {
		height: 350px;
	}

	.jumbotron img{
		height: 130px;
	}
	
	.jumbotron p{
		padding-top: 5px;
	}
}